# <center>DS4E, Summer 2021: Homework 2<center>

This homework is due on **Monday**, **June 7**, by **9am EDT**. The homework is worth **41 points**, or 10% of the course grade. You can earn one point per sub-question. Late homeworks, even by one minute, will be graded down with no exceptions. The course academic integrity policy applies to every homework, including this one.

## Instructions

This homework contains **multiple choice** and **programming** questions. 

Multiple choice questions:

* Select your answer from the dropdown menu.

Programming questions:
* If you see a `...` in the cell below the question, simply replace the `...` with your code.
* If the cell is blank, write the full code yourself.

Notes:
* Some questions refer to external articles that you can find by clicking on the links provided.
* Save your work as you go.
* If you create additional code cells for scratch work, please **remove them before submission**. Your submission should not include any additional code cells.

## Submission

To submit this homework:
1. Download a copy as an .ipynb file by going to "File > Download > Download .ipynb"
2. You must then upload the .ipynb file as your submission for Homework 1 under the Assignments tab on Brightspace.

## <u> Question 1: Data types</u>

Complete the following programming exercises.

<b>(a) Write an expression that divides the number 28 by 4 and stores the result in a variable called `my_number`.</b>

In [ ]:
my_number = 28/4

<b>(b) Create an object called `my_int` that contains an integer with a value of 5. Write another line of code to demonstrate that `my_int` is indeed an integer.</b>

In [ ]:
my_int=5
type(my_int)

int

**(c) Create an object called `my_float` that stores the value 5 as a float. Write another line of code that demonstrates that `my_float` is indeed a float.**

In [ ]:
my_float=5.0
type(my_float)

float

**(d) Add together `my_int` and `my_float` and store the result in a variable called `my_sum`. You must use the variable names `my_int` and `my_float`.**

In [ ]:
my_int=5
my_float=5.0
my_sum=print(my_int+my_float)

10.0

**(e) What is the type of `my_sum`?**

<ol type="A">
<li>Int</li>
<li>Float</li>
<li>String</li>
</ol>

In [ ]:
q1e_answer = "B" #@param ["A", "B", "C"]

<b>(f) Write one line of code to convert `my_int` to a string and store it in a variable called `my_string`.

In [ ]:
my_string="my_int"

str

**(g) Write one line of code to multiply the `my_string` variable by 3.**

*Recall: In Python, mathematical operators like `+` and <code>&ast;</code> are "overloaded" so that they work for more than just numeric values. For example, if the addition operator `+` is used with two strings, Python will concatenate them, i.e., combine them into a new string where the contents of the second string appear directly after the last character of the first string*

In [ ]:
"my_string"*3

'my_stringmy_stringmy_string'

## <u>Question 2: Lists and arrays</u>

Complete the following programming exercises.

<b>(a) Create four variables based on the following list of cell phones and their price in USD, given in parentheses. The value for each variable should be the price of that cell phone as written.

* iPhone (799)
* Galaxy (649)
* Pixel (699)
* OnePlus (729)
    
Then, write code that uses arithmetic (i.e., do not import a package) to calculate the mean price of the four phones, using the names of the phone variables in the mathematical expression, and store this mean value in a variable called `phone_price_mean`.</b>

In [ ]:
iphone = 799
galaxy = 649
pixel = 699
oneplus = 729
phone_price_mean = (iphone+galaxy+pixel+oneplus)/4
print(phone_price_mean)

719.0

<b> (b) We will now calculate the same mean as in Question 2a above, but this time we will use a `list` variable. 

Create a `list` variable called `phone_price_list` containing four numeric items that correspond to the prices of the four phones. Write a second line of code that uses arithmetic (still no package importing) to find the mean of the elements in `phone_price_list` and assign this mean to a variable called `phone_price_mean2`.</b>

In [ ]:
phone_price_list = [iphone,pixel,galaxy,oneplus]
phone_price_mean2 = sum(phone_price_list)/len(phone_price_list)

<b> (c) We will now calculate the same mean as in Question 1a, but this time we will use a NumPy `array` variable.
    
Create a NumPy array called `phone_price_array` containing four numeric items, one for each phone price. Find the mean of `phone_price_array` and store it in the variable `phone_price_mean3`.</b>

*Note: We have provided you with starter code containing the line `import numpy as np`. This tells Python to load the NumPy library into memory so that you can call its functions with the `np.` prefix, e.g., `np.sqrt()`. You only need to run this import statement once per notebook session*

In [ ]:
import numpy as np 
phone_price_array = np.array(phone_price_list)
phone_price_mean3 = np.mean(phone_price_array)

**(d) Write a conditional statement to check that `phone_price_mean2` is equal to `phone_price_mean`. Then write a second conditional statement to check that `phone_price_mean3` is equal to `phone_price_mean2`.**

In [ ]:
if phone_price_mean2 == phone_price_mean:
    print('phone_price_mean2 == phone_price_mean')
if phone_price_mean3 == phone_price_mean2:
    print("phone_price_mean3 == phone_price_mean2")

phone_price_mean2 == phone_price_mean
phone_price_mean3 == phone_price_mean2

**(e) We can also use built-in functions in Python to make certain calculations. Write code to find the minimum value in the list called `phone_price_list`, and store this minimum value in a variable named `phone_price_min`. Then print the value of `phone_price_min` to confirm that the previous line worked.**

In [ ]:
phone_price_min = min(phone_price_list)
print(phone_price_min)

649

**(f) Now find the maximum of `phone_price_array`. For this answer, do not store the maximum in a variable, print it directly instead.**

In [ ]:
print(np.max(phone_price_array))

799

<b> (g) Given the similarities in some of the functionality of arrays and lists, why might we prefer to use a NumPy array instead of a list? </b>

<ol type="A">
<li>You can perform arithmetic on the objects in an array, but not a list</li>
<li>Arrays can store integers and strings, whereas lists can only store integers</li>
<li>A & B</li>
<li>Arrays consume less memory</li>
<li>Mathematical operations typically run faster on arrays</li>
<li>D & E</li>
</ol>

In [ ]:
q2f_answer = "F" #@param ["A", "B", "C", "D", "E", "F"]

## <u>Question 3: Creating, modifying, and evaluating a variable</u>

*Suppose you are studying the age at which people first voted in a US Presidential Election.*

**(a) You have a sample of six voters. Two voters reported that they were 19, two were 25, one was 32, and one was 16. Create a NumPy array named `age_at_first_vote` that contains these age values in the order listed here.**

In [ ]:
age_at_first_vote = [16,19,19,25,25,32]
age_at_first_vote=np.array(age_at_first_vote)
print(age_at_first_vote)

[16 19 19 25 25 32]

**(b) The legal voting age in US Presidential Elections is 18. In one line of code, write a conditional statement that checks whether each element in the array is greater than or equal 18.**

In [ ]:
if np.min(age_at_first_vote)>=18:
    print('yes')
else:
    print('no')

no

**(c) As you examine the raw data, you notice that the person recorded as 16 years old is actually 18. The person reponsible for inputting the data misread the "8" as a "6". Write one line of code that edits age_at_first_vote to correct this error by changing the element 16 to 18. Print the array to make sure your modification worked.**

In [ ]:
age_at_first_vote[0] = 18
print(age_at_first_vote)

[18 19 19 25 25 32]

**(d) Accidentially recording the wrong information, as in the previous question, is an example of what kind of measurement error?**

*(See lecture 7.3 to review common types of error)*

<ol type="A">
<li>Random error</li>
<li>Systematic error</li>
<li>Error of validity</li>
<li>Error of exclusion</li>
</ol>

In [ ]:
q3d_answer = "A" #@param ["A", "B", "C", "D"]

**(e) Suppose this kind of mistake is more likely to happen for people with an 8 in their age (e.g. suppose those aged 80 are often mistakenly recorded as 60). What kind of measurement error would this be?**

<ol type="A">
<li>Random error</li>
<li>Systematic error</li>
<li>Error of validity</li>
<li>Error of exclusion</li>
</ol>

In [ ]:
q3e_answer = "B" #@param ["A", "B", "C", "D"]

**(f) This data was collected by stopping people in Washington Square Park, a park at the center of NYU's New York campus, and asking them to report the age at which they first voted. You suspect there might be selection bias in this sampling strategy: people may answer dishonestly, or be less willing to answer at all, if they first voted later in life or if they have never voted. If true, wow would this bias affect the data?**

<ol type="A">
<li>It would bias the data upward. The average age in your sample would be higher than the true average.</li>
<li>It would bias the data downward. The average age in your sample would be lower than the true average.</li>
<li>It would not bias the data upward or downward.</li>
</ol>

In [ ]:
q3f_answer = "B" #@param ["A", "B", "C"]

**(g) You are interested in age at first vote because you want to know how life experiences influence party choice (e.g. whether a person votes Democratic, Republican, or third party). In terms of stages of measurement, age is therefore the way you have chosen to _____ life experience.**

<ol type="A">
<li>Capture</li>
<li>Operationalize</li>
<li>Estimate</li>
<li>Conceptualize</li>
</ol>

In [ ]:
q3g_answer = "B" #@param ["A", "B", "C", "D"]

## <u>Question 4: Setting up a study</u>

*Suppose you are interested in investigating the link between college major and income. In the following questions, please respond to prompts related to several steps of this research project.*

<b> (a) You suspect that students who major in engineering, work full time, and who are male earn higher incomes on average after graduating. What is the dependent variable in this case? </b>

<ol type="A">
<li>Major</li>
<li>Income</li>
<li>Full time status</li>
<li>A & C</li>
</ol>

In [ ]:
q4a_answer = "B" #@param ["A", "B", "C", "D"]

<b> (b) To collect data to examine this theory, you must be specific about how to measure these concepts. You decide to measure *college major* in broad categories. That is, you only give respondents the option "Engineering" and not more specific options like "Chemical Engineering", "Mechanical Engineering", etc. What step in the measurement process are you taking?</b>

<ol type="A">
<li>Estimation</li>
<li>Operationalization</li>
<li>Hypothesis formation</li>
<li>Conceptualization</li>
</ol>

In [ ]:
q4b_answer = "D" #@param ["A", "B", "C", "D"]

<b> (c) You are concerned that the categories you used to measure college major are too broad to truly capture a student's choice in major. You suspect that Economics majors may earn much more than Sociology majors, even though both would be categorized as "Social Science" in your measurement schema. What kind of error are you worried about? </b>

<ol type="A">
<li>Random Error</li>
<li>Systematic Error</li>
<li>Error of Validity</li>
<li>Error of Exclusion</li>
<li>A & B</li>
</ol>

In [ ]:
q4c_answer = "C" #@param ["A", "B", "C", "D", "E"]

<b>(d) You decide to test your suspicion by taking those who earn more than $60,000 per year and calculating how many are Sociology majors and how many are Economics majors. This is an example of:</b>

<ol type="A">
<li>A natural experiment</li>
<li>Selection on the independent variable</li>
<li>Selection on the dependent variable</li>
<li>Confounding</li>
</ol>

In [ ]:
q4d_answer = "C" #@param ["A", "B", "C", "D"]

## <u>Question 5: Evaluating existing research</u>

*You decide to read around the subject of college major and income before you proceed with your research. The following questions refer to the study described in this article: [The Economic Guide to Picking a College Major](https://fivethirtyeight.com/features/the-economic-guide-to-picking-a-college-major/).*

**(a) The above article discusses median earnings by major. However, it does not mention gender, even though other studies have documented pay disparities by gender and variation in major choice by gender. In the relationship between major choice and income, gender may be implicated in _____.**

<ol type="A">
<li>Reverse causation</li>
<li>Selection bias</li>
<li>Confounding</li>
<li>Endogeneity</li>
</ol>

In [ ]:
q5a_answer = "C" #@param ["A", "B", "C", "D"]

**(b) The article states "if you study drama, be prepared to wait tables." This language implies ____.**

<ol type="A">
<li>Selection on the dependent variable</li>
<li>Deterministic causality</li>
<li>Probabilistic causality</li>
<li>Reverse causality</li>
</ol>

In [ ]:
q5b_answer = "B" #@param ["A", "B", "C", "D"]

**(c) In the text cell below, name a "third variable" that may explain, or at least partly explain, both income and major choice. You may not name gender.**

race

**(d) The article states "Engineering majors, unsurprisingly, are among the least likely to be underemployed, but they are joined by majors in the education and natural science fields." How is "underemployed" conceptualized, according to the article?**

<ol type="A">
<li>Earning a below-average wage</li>
<li>Working less than 35 hours per week</li>
<li>Not attending graduate school</li>
<li>Having a job that does not require a college degree</li>
</ol>

In [ ]:
q5d_answer = "D" #@param ["A", "B", "C", "D"]

## <u>Question 6: Working with a dataset</u>
*It's time to do your own research! You decide not to conduct a survey yourself, but to instead analyze some existing data. You decide to use the data produced by FiveThirtyEight for the article "The Economic Guide to Picking a College Major" (see Question 5 for a link to this article), which is derived from the American Community Survey.*

<b> (a) A version of this dataset, `major.csv`, is stored in our course Github repository. We have provided starter code that imports Pandas and then stores the path to the `major.csv` file in a string variable called `file_path`. Use this string along with Pandas' `read_csv()` function to load the dataset and store its contents in a DataFrame called `data`.</b> 

(*Note, refer to exercise 2.4 and the accompanying TA video. This a key skill for data science.*)

In [ ]:
import pandas as pd

file_path = "https://raw.githubusercontent.com/george-wood/DS4E/main/data/major.csv"
data = pd.read_csv(file_path)

<b> (b) Inspect the first 4 rows of the data using Pandas' `head()` function to make sure it imported properly.</b>

In [ ]:
print(data.head(4))

   Rank  Major_code_number  ... Non_college_jobs  Low_wage_jobs
0     1               2419  ...              364            193
1     2               2416  ...              257             50
2     3               2415  ...              176              0
3     4               2417  ...              102              0

[4 rows x 21 columns]

**(c) Use whatever code you like to find out how many rows and columns there are in this dataset, and then assign the number of rows to a variable called `num_rows` and the number of columns to a variable called `num_cols`.**

In [ ]:
num_rows=len(data)
num_col=data.shape
print(num_rows,num_cols)

NameError: ignored

<b> (d) The output of question 6c tells us what about the dataset? </b>
<ol type="A">
<li>There are 21 observations</li>
<li>There are 21 variables</li>
<li>There are 173 observations</li>
<li>There are 173 variables</li>
<li>A and D</li>
<li>B and C</li>
</ol>

In [ ]:
q6d_answer = "F" #@param ["A", "B", "C", "D", "E", "F"]

**(e) When we inspected the dataset using Pandas' `head()` function in Question 6b, we cannot see all of the columns without scrolling (unless your screen is very wide). Write a line of code that prints all of the column names in `data`.**

In [ ]:
print([column for column in data])

['Rank', 'Major_code_number', 'Major', 'Total', 'Men', 'Women', 'Major_category_broad', 'ShareWomen', 'Sample_size', 'Employed', 'Full_time_employed', 'Part_time', 'Full_time_year_round', 'Number_that_are_Unemployed', 'Unemployment_rate', 'Median', 'P25th', 'P75th', 'College_jobs', 'Non_college_jobs', 'Low_wage_jobs']

**<b> (f) Review your answer to Question 6b, where you printed the head of the dataset. Look at those who majored in metallurgical engineering. In the code cell below, calculate the percentage of employed people who majored in metallurgical engineering and work part-time.**

In [ ]:
percentage=(133/648)*100
print(percentage)

20.52469135802469

<b> (g) Some majors have a small sample size. That is, there are very few respondents in the survey who report majoring in that subject. What problem could we run into when making inferences about income?</b>

<ol type="A">
<li>Employers may not be familiar with these majors on resumes and this may result in worse employment outcomes</li>
<li>Selection on the dependent variable</li>
<li>The respondents may not be representative of the broader population who majored in that subject</li>
<li>There is no problem with having a small sample size</li>
</ol>

In [ ]:
q6g_answer = "C" #@param ["A", "B", "C", "D"]

## <u>Question 7: Cleaning the data & preparing for analysis</u>
*Finally! You now begin to explore the dataset. (Also, we are almost there, I promise. This is such important practice!)*

<b> (a) In data science, it is common to rename variables we expect to use often in order to make them easier to reference. Rename the following variables exactly as indicated:</b>

* "Major_code_number" as "major_code"
* "Major_category_broad" as "major_category"
* "Number_that_are_Unemployed" as "unemployed"

**Print the column names afterward to ensure that your renaming worked.**

*(Hint: Refer to this question on [Stack Overflow](https://stackoverflow.com/questions/19758364/rename-specific-columns-in-pandas) and the answers. Pay attention to case, i.e. upper case and lower case letters)*

In [ ]:
data.rename(columns={'Major_code_number':'major_code', 'Major_category_broad':'major_category','Number_that_are_Unemployed':'unemployed'}, inplace = True)
print([column for column in data])

['Rank', 'major_code', 'Major', 'Total', 'Men', 'Women', 'major_category', 'ShareWomen', 'Sample_size', 'Employed', 'Full_time_employed', 'Part_time', 'Full_time_year_round', 'unemployed', 'Unemployment_rate', 'Median', 'P25th', 'P75th', 'College_jobs', 'Non_college_jobs', 'Low_wage_jobs']

**(b) Use the `describe()` method in Pandas to generate summary statistics (mean, standard deviation, etc.) on the `Median` variable. The `Median` is the median salary. Then, use the information to store the minimum median income in a variable called `minimum_median_income`.**

In [ ]:
minimum_median_income = data.describe()['Median']['min']

<b> (c) Write one line of code to create a new Pandas DataFrame, which you should call `arts`, containing only rows where the major category is "Arts". Then write a second line of code that displays the first 10 rows of `arts`.

In [ ]:
arts = pd.DataFrame(data[ data['Major'].str.contains('ARTS')])
print(arts.head(10))

     Rank  major_code  ... Non_college_jobs  Low_wage_jobs
32     33        6099  ...             1714            755
140   141        3401  ...            28558           9030
141   142        6005  ...            20721           5862
149   150        6000  ...            32725          11880
153   154        6003  ...             7635           2840
159   160        6007  ...             8707           3586
160   161        2201  ...             7384           3163
166   167        6001  ...            25313          11068

[8 rows x 21 columns]

<b> (d) Find the major in `arts` with the lowest median salary by writing one line of code that sorts the data by the `Median` column (here your code must use the `ascending` argument) and displays the first five rows, such that the first row displayed corresponds to the arts major with the lowest median income.

In [ ]:
arts_median = arts.sort_values(by='Median',ascending=True)
print(arts_median.head(10))

     Rank  major_code  ... Non_college_jobs  Low_wage_jobs
166   167        6001  ...            25313          11068
159   160        6007  ...             8707           3586
160   161        2201  ...             7384           3163
153   154        6003  ...             7635           2840
149   150        6000  ...            32725          11880
140   141        3401  ...            28558           9030
141   142        6005  ...            20721           5862
32     33        6099  ...             1714            755

[8 rows x 21 columns]

<b> (e) Find the major in `arts` with the highest unemployment rate by writing one line of code that sorts the data by the `Unemployment_rate` column (again using the `ascending` argument) and displays the first five rows, where this time the first row displayed corresponds to the arts major with the highest unemployment rate.

In [ ]:
arts_unrate = arts.sort_values(by='Unemployment_rate',ascending=True)
print(arts_unrate.head(5))

     Rank  major_code  ... Non_college_jobs  Low_wage_jobs
160   161        2201  ...             7384           3163
166   167        6001  ...            25313          11068
140   141        3401  ...            28558           9030
149   150        6000  ...            32725          11880
32     33        6099  ...             1714            755

[5 rows x 21 columns]

## End of Homework

Be sure to submit this file according to the instructions at the top of this notebook. Well done for completing this assignment.